.images-thumb img {
    width: 100px;
    margin: 0 20px;
    cursor: pointer;
    padding: 10px 5px;
}

/*.product-img img {*/
/*    width: 400px;*/
/*    height: 350px;*/


/*}*/

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    border: 3px solid #9f2121;
}

